    <table>
        <% for(var i=0;i < alltodos.length;i++){%>
            <tr>
                <td>
                  <%=  alltodos[i].title %>
                </td>
             </tr>
       <% } %> 
    </table>
